﻿@{
    ViewData["Title"] = "Home page";



}

<img src="~/img/what-is-deep-learning-large.jpg" />

<div class="row align-items-center">
    <div class="col-md-8 offset-2">
        <h2>
            Datasets Collection for
        </h2>
        <h3>UCC/Insight/Confirm/CRT AI</h3>
        <ul>
            <li>
                Time Series
            </li>
            <li>
                Computer Vision
            </li>
            <li>
                Natural Language Processing
            </li>
            <li>
                CP and SAT
            </li>
        </ul>
        </p>
    </div>
</div>
